.heading-box h2{ width:100%; color: red; }
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}

#doctorImg {
    width: 100%;
    height: 1000px;
}

/**********************************************************************************************************************************************************/
/* syl */
/*******/
.counterZoneParent{
	position: relative;
}
.imageCounter{
	height: 60vh;
	overflow: hidden;
}
.imageCounter img{
	position:relative;
	bottom: 23%;
}
.counterZone{
	width: 65%;
	position: absolute;
	top:13%;
	right: 0;
}
.counterZone svg{
	font-size: 2.5rem;
}
.counterText p:first-child{
	font-size: 2rem;
	font-weight:700;
}
.chimiste{
	background: center url(../images/chimiste.jpg)
}
.chimiste>div{
	background: #033b4af3;
}
.chimiste .btn{
	border-radius: unset;
}

.chimiste .card{
	background: none;
	border-radius: 0;
}
.chimiste .card-body p{
	font-size: 0.95rem;
}

.chimiste .card svg{
	font-size: 3rem;
}

/*****************************************************footer****************************************************/
.text-gris {
	color: #8faec2;
}
.contact svg{
    align-self: center;
	font-size: 1.5rem;
	margin: 13px;
}
.contact p, .contact a{
	margin: 0;
	padding: 0;
}
.contact a{
	color: #fff;
}
footer ul{
	list-style: none;
	padding: 0;
}
footer h3{
	font-weight: 600;
	font-size: 1.5rem;
}
.quickLink{
	height: 80%;
}
.quickLink span, .services span{
	position: relative;
	bottom: 0.45rem;
	left: -0.3rem;
	font-size: 1.5rem;
	font-weight: lighter;
}
.footerMainParent{
 	background: #033b4af3;
}
.footerMain{
	background: center/contain url(../images/mapMonde.jpg)
}
.footerMain>div{
 	background: #033b4af3;
}

.social a{
	display: block;
	border-radius: 50px;
	width: 2rem;
	height: 2rem;
}
.social svg{
	align-self: center;
}

.footerMain .card{
	background: none;
	border: none;
}

.Newsletter input{
	border: none;
	border-radius: 0;
	background: #ffffff1b;
}
.Newsletter input::placeholder{
	color: #ffffff90;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
}
.copyright{
	background: #023341;
	font-size: 0.9rem;
	font-weight: 600;
}